<!DOCTYPE html>
<!-- <html lang="{{ site.lang | default: "en-US" }}"> -->
<html lang="da">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="simple.css">
    <title>Dansk netværk for Open Access</title>
</head>
  
<body>
  <header>
    
    <h1>
      <a href="https://openaccess.dk"><img src="assets/images/logo.png" alt="Dansk netværk for Open Access"></a>
    </h1>

    <nav>
      <ul>  
        <li><a href="index.html" class="current">Forside</a></li>
        <li><a href="oaw2022.html">Open Access Week 2022 (program)</a></li>
        <li><a href="english.html">English</a></li>
      </ul>
    </nav>

  </header>

  <main>
    
    <h2>Om det danske netværk for Open Access</h2>
    
    <p>Bla bla bla</p>

    <h2>Medlemmer</h2>
    <ul>
      <li><strong>Københavns Universitet</strong> &ndash; Rasmus Rindom Riise</li>
      <li><strong>Det Kongelige Akademi</strong> &ndash; Margrethe Bredahl</li>
    </ul>
  </main>

  <footer>
    <p>&copy; 2022 Dansk netværk for Open Access | Kontakt: <a href="mailto:mail@openaccess.dk">mail@openaccess.dk</a></p>
  </footer>
</body>
</html>
